<form>
    <table>
        <tr>
            <thead>Name</thead>
            <thead>Email</thead>
            <thead>Mobile no.</thead>
            <thead>Gender</thead>
            <thead>Actions</thead>
        </tr>
        <tr>
            <td>Rahul</td>
            <td>rahul@gmail.com</td>
            <td>12345678899</td>
            <td>Male</td>
            <td><button><a href="edit-user">Edit</a></button><button>Delete</button></td>
        </tr>
        <tr>
            <td>Rahul</td>
            <td>rahul@gmail.com</td>
            <td>12345678899</td>
            <td>Male</td>
            <td><button><a href="edit-user">Edit</a></button><button>Delete</button></td>
        </tr><tr>
            <td>Rahul</td>
            <td>rahul@gmail.com</td>
            <td>12345678899</td>
            <td>Male</td>
            <td><button><a href="edit-user">Edit</a></button><button>Delete</button></td>
        </tr>
    </table>
</form>